/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


body {
    background-color: white;
}
section {
    position: center;
}

.footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}
.card-header {
    background-color: #bbdefb;
    text-align: center;
}
.card-body {
    background-color: #bbdefb;
}
.font {
    font-style: oblique;
}
.btn{
    text-decoration-color:black;
}
.form-group{
    position:center;
}