
@model CarWash.Models.Reservation
@{
    ViewData["Title"] = "Confirmation";
}
<style>
    card.{


    }
    
</style>

<h1 class="pt-4">Confirmation</h1>
<div class="pt-lg-5"></div>
    <div class="card-body">
        <h4 class="text-md-center"> 
           Thank you for your order. 
        </h4>
        <p class="text-md-center"> Your request are being process. Please wait for your confirmation! </p>
    </div>


